In [1]:
import pandas as pd

P_vine_df = pd.read_csv("vine_table.csv")

In [2]:
#limit to products with > 20 reviews
vine_votes_df = P_vine_df[P_vine_df["total_votes"] > 20]

In [3]:
#trim the dataframe for helpful votes, also deleting superfluous column
trimmed_df = vine_votes_df[vine_votes_df["helpful_votes"]/vine_votes_df["total_votes"] >= .5]
trimmed_df = trimmed_df.drop(["Unnamed: 0"],axis=1)

In [4]:
#create dfs for paid and unpaid reviews 
unpaid_df = trimmed_df[trimmed_df["vine"] == 'N']
paid_df = trimmed_df[trimmed_df["vine"] == 'Y']

In [10]:
paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4229,R1R9RU7JW0MFR2,4.0,20.0,23.0,Y,N
9120,R19EFYNN3W8Q07,5.0,26.0,32.0,Y,N
34704,R34DJ1R8AEU0SG,5.0,29.0,35.0,Y,N
38510,R25P5CXK5L9RHF,5.0,146.0,161.0,Y,N
49330,R2E9VZB3I4LSN5,5.0,55.0,59.0,Y,N

In [6]:
#find paid review fivestar rating percents 
paid_total = paid_df["review_id"].count()
paid_fivestar = paid_df[paid_df["star_rating"] == 5.0]["review_id"].count()
paid_fivestar_percentage = paid_fivestar / paid_total

In [7]:
unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [8]:
#find paid review fivestar rating percents 
unpaid_total = unpaid_df["review_id"].count()
unpaid_fivestar = unpaid_df[unpaid_df["star_rating"] == 5]["review_id"].count()
unpaid_fivestar_percentage = unpaid_fivestar / unpaid_total

In [9]:
#create a summary dataframe for easy comparison 
summary_df = pd.DataFrame(trimmed_df.groupby("vine").count()["review_id"])
summary_df.rename(columns={'review_id': 'Total Reviews'}, inplace=True)
summary_df["Five Star Reviews"] = [unpaid_fivestar, paid_fivestar]
summary_df["Five Star Percent"] = [unpaid_fivestar_percentage, paid_fivestar_percentage]
summary_df.style.format({'Five Star Percent': "{:.2%}"})